.calendar-tab-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-content: start;
    overflow-y: auto;
    position: relative;
}

.calendar-tab-tasks-list-title {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 10px;
    border-bottom: 1px solid var(--lighter-gray);
}

.tasks-list-container {
    min-width: 250px;
    width: 100%;
    max-width: 800px;
    justify-self: center;
    padding: 1rem 1rem 5.5rem;
    overflow-y: auto;
}

.calendar-tab-new-task-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    font-weight: 300;
}

.tasks-list {
    display: grid;
    gap: 10px;
    list-style: none;
}

.tasks-list-empty {
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}