.calendar-tab-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-content: start;
    overflow-y: auto;
}

.calendar-tab-tasks-list-title {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 10px;
    border-bottom: 1px solid var(--lighter-gray);
}

.tasks-list-container {
    min-width: 250px;
    width: 100%;
    max-width: 800px;
    justify-self: center;
    padding: 1rem 1rem calc(var(--nav-height) + 5.5rem);
    overflow-y: auto;
}

.tasks-list {
    display: grid;
    gap: 10px;
    list-style: none;
}

.tasks-list-empty {
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}

.tasks-list-expanded {
    padding: 1rem 0;
    height: 100% !important;
}