@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

@keyframes slideOut {
    from {
        width: 100%;
        left: 0;
        opacity: 1;
    }

    to {
        width: 500px;
        left: 100%;
        opacity: 0.8;
    }
}

@keyframes slideIn {
    from {
        width: 500px;
        left: 100%;
    }

    to {
        width: 100%;
        left: 0;
    }
}

:root {
    --main-font: "Open Sans", sans-serif;
    --project-container-padding: 25px;
    --nav-height: calc(3rem + 10px);
    --avalible-height: calc(100vh - var(--nav-height));
    --background-color: white;
    --lighter-gray: rgb(245, 245, 245);
    --lighter-color: rgb(211, 222, 255, 0.5);
    --main-color-1: rgba(64, 72, 247, 1);
    --main-color-2: rgba(192, 50, 198, 1);
    --main-color-3: rgb(150, 100, 255);
}

#root {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.disabled {
    pointer-events: none;
    user-select: none;
}

button,
input {
    cursor: pointer;
}

/* Navbar section */

nav {
    display: grid;
    grid-row: -1;
    justify-items: center;
    align-items: center;
    position: relative;
    background-color: var(--background-color);
    height: var(--nav-height);
    box-shadow: 0px 0px 5px lightgray;
    overflow: hidden;
    padding: 0 2rem;
}

.nav-buttons-wrapper {
    display: grid;
    gap: 2rem;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-items: center;
    width: 100%;
}

.nav-button {
    border: none;
    background: none;
    text-transform: capitalize;
    transition: all 0.2s;
}

.nav-button path {
    fill: gray;
    transition: all 0.2s;
}

.nav-button:hover path {
    fill: var(--main-color-1);
}

.nav-button:hover .nav-button-text-container {
    color: var(--main-color-1);
}

.nav-button-active path {
    fill: var(--main-color-1);
}

.nav-button-active .nav-button-text-container {
    color: var(--main-color-1);
}

.nav-button-icon-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.nav-button-icon-container svg {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-button-text-container {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 0.7rem;
    color: gray;
    transition: all 0.2s;
}

/* Main section */

main {
    display: grid;
    grid-row: 1;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}

.slide-container {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 10px 0 10px;
    pointer-events: all;
    overflow: visible;
    background-color: var(--background-color);
    translate: 0;
}

.slide-in {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slide-out {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slide-back-button {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-self: start;
    height: 3rem;
    width: 3rem;
    background: none;
    border: none;
    border-radius: 50%;
    transition: all 0.5s;
}

.slide-back-button svg {
    height: 2rem;
    width: 2rem;
}

.slide-back-button:hover {
    background-color: var(--lighter-gray);
}

.floating-button {
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1px 5px gray;
    background-color: var(--main-color-3);
    color: var(--lighter-gray);
    transition: all 0.5s;
}

.floating-button:hover {
    background-color: rgb(193, 100, 255);
}

/* Forms */

form {
    display: grid;
    gap: 1.5rem;
    padding: 1rem 1rem 0 1rem;
    overflow: auto;
}

.task-form {
    grid-template-rows: auto auto 2fr auto 1fr;
    grid-template-columns: auto 1fr;
}

.form-error {
    grid-column: 1/-1;
    color: var(--main-color-3);
}

.submit-button {
    display: grid;
    grid-row-end: -1;
    grid-column-end: -1;
    align-items: center;
    justify-items: center;
    align-self: end;
    justify-self: end;
    margin-bottom: calc(1rem + var(--nav-height));
    padding: 1rem;
}

.submit-button svg {
    width: 2rem;
    height: 2rem;
    fill: var(--lighter-gray);
}

label {
    color: rgb(90, 90, 90);
    align-self: center;
    font-size: 0.9rem;
    grid-column: 1;
}

label[for="new-task-category"] {
    grid-row: 1;
}

label[for="new-task-due-date"] {
    grid-row: 2;
}

select,
input {
    align-self: center;
    min-width: 150px;
    max-width: 150px;
    border: none;
    border-radius: 5px;
    color: rgb(90, 90, 90);
    background-color: var(--lighter-color);
    padding: 5px 10px;
}

select {
    cursor: pointer;
    grid-row: 1;
    grid-column: 2;
    justify-self: start;
}

#task-due-date {
    grid-row: 2;
    grid-column: 2;
    max-width: fit-content;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="gray" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

#task-content {
    grid-column: 1/-1;
    resize: none;
    border: none;
    border-top: 1px solid var(--lighter-gray);
    border-bottom: 1px solid var(--lighter-gray);
    padding: 1.5rem 0;
    margin-top: 2rem;
    font-weight: 700;
    outline: none;
    overflow: auto;
}

.project-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    width: 100%;
}

.project-form>#title {
    max-height: 2.4rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.project-form>#description {
    grid-column: 1/-1;
    height: 10rem;
    resize: none;
    overflow: auto;
}

.edit-project-form {
    grid-template-columns: 1fr auto auto;
}

/* Project */

.project-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--project-container-padding);
    padding: var(--project-container-padding);
    width: 100%;
}

.project-container>div:first-child {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: repeat(2, auto);
}

.project-container>div:first-child>h2 {
    overflow: auto;
    max-height: 2.4rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.project-container>div:first-child>p {
    max-height: 10rem;
    overflow: auto;
    grid-row: 2;
    grid-column: 1/-1;
}

/* Tasks */

.tasks-headline {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-bottom: 0.5rem;
    margin-bottom: var(--project-container-padding);
    border-bottom: 1px solid gray;
}

.task-add-button {
    width: 20px;
}

.tasks-list {
    display: grid;
    gap: 0.5rem;
}

.task-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    gap: 1rem;
    background-color: var(--lighter-gray);
    overflow: hidden;
    border-radius: 5px;
    padding: 1.2rem 2rem 1.2rem 0.8rem;
    align-items: center;
    position: relative;
}

.task-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.task-container-checked * {
    color: gray;
}

.task-container-checked>.task-text {
    text-decoration: line-through;
}

.task-container-checked .task-check-button::before {
    opacity: 1;
}

.task-check-button {
    width: 20px;
    height: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
    border: 1px solid var(--main-color-2);
    position: relative;
}

.task-check-button::before {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("./assets/done-icon.svg");
    transition: opacity 0.3s;
}

.task-check-button:hover::before {
    content: "";
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("./assets/done-icon.svg");
}

/* .task-remove-button {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    border: none;
}

.task-remove-button svg {
    width: 20px;
    height: 20px;
    fill: var(--lighter-color);
}

.task-remove-button:hover {
    background-color: (--lighter-color);
} */

/* Home section */

@media screen and (min-width: 769px) {
    .project-form {
        padding: var(--project-container-padding);
    }
}